@font-face {
    font-family: jetbrainsMono;
    src: url("../fonts/JetBrainsMono-Regular.woff2");
}

body {
    background-color: #0D1317;
    color: white;
    tab-size: 4;
}

pre {
    padding: 10px;
    background-color: #1c1b1b;
    border-radius: 5px;
}

code {
    font-family: jetbrainsMono;
}

a {
    color: white;
    transition: linear 0.1s;
}

a:hover {
    color: gray;
}

.mono {
    font-family: jetbrainsMono;
}

.docsHomeBtn {
    width: 100%;
    height: 150px;
}